.bk-edit-content .img-field .img-container {
    width: 100px;
    min-height: 100px;
    border: 1px solid #222;
}
.bk-edit-content .img-field img{
    max-height: 200px;
    max-width: 200px;
}
.bk-edit-content input[name='onRemoveClick'] {
    margin-left: 6px;
    background: #fff;
    border: 1px solid #777;
    color: #777;
    padding: 5px 13px;
}
