.bk-header-menu {
    float: right;
    margin: 0;
    padding: 0;
}
.bk-header-menu li {
    float: left;
    list-style: none;
    padding: 0 12px;
}

.bk-header-menu li a {
    color: #fff;
    text-shadow: none;
    text-decoration: none;
}

.bk-header-menu li a:hover {
    text-shadow: -1px 1px 3px #fff;
}